.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */
{
    filter: invert(100%);
    border: none;

}

.carousel-control-next:focus,
.carousel-control-prev:focus {
    outline: none;
    box-shadow: none;
}

