<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description"
          content="Django app for to-do-list, author: Usen Utebayev!">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#4285f4"/>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href="{% static "src/base/css/bootstrap.min.css" %}" rel="stylesheet">
    {% block style %}
    {% endblock %}
    <link href="{% static 'src/base/base.css' %}" rel="stylesheet">
</head>
<body>
{% include 'inc/_nav.html' %}
<div class="wrapper d-flex justify-content-center flex-column">
    {% block content %}
    {% endblock %}

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">© 2023 Ussen Utebayev</p>

            <a href="/"
               class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="https://github.com/UsenUtebayev/to-do-django"
                                        class="nav-link px-2 text-muted">Source code</a></li>
                <li class="nav-item"><a href="https://t.me/utebayevUssen" class="nav-link px-2 text-muted">Telegram</a>
                </li>
                <li class="nav-item"><a href="https://vk.com/handy228" class="nav-link px-2 text-muted">Vk</a></li>
                <li class="nav-item"><a href="mailto:usenutebayev@gmail.com" class="nav-link px-2 text-muted">Hire
                    me</a></li>
            </ul>
        </footer>
    </div>

</div>

</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="{% static 'src/base/js/bootstrap.min.js' %}"></script>
</html>