{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div>
        <p>Welcome to TODO list on django! |
            {% if username %}
                {{ username }}
            {% else %}
                Вы не авторизованы
            {% endif %}
        </p>
    </div>
    <div>

        {% if username %}
            <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'registration' %}">Зарегистрироваться</a>
        {% endif %}
    </div>
    <div>
        {% if username %}
            <a href="{% url 'add-task' %}">Добавить задачу</a>
        {% else %}
            <p> Чтобы добавлять задачи нужно быть авторизованным!</p>
        {% endif %}
        {% for i in page_obj %}
            <h4>{{ i.category }} : {{ i.name }}</h4>
            <p>{{ i.description }}
            <form action="{% url 'delete-task' i.id %} ">
                {% csrf_token %}
                <input type="submit" value="Delete!">
            </form>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}