{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex w-75 flex-column container-fluid align-content-center mt-3">
        <h4><strong>{{ task_item.name }}</strong></h4>
        <p>{{ task_item.created_at | date }}</p>
        <p>{{ task_item.description | safe }}</p>
        <form class="w-25" action="{% url 'delete-task' task_item.id %} ">
            {% csrf_token %}
            <button class="btn btn-outline-success btn-sm container-fluid" type="submit">Отметить
                выполненным!
            </button>
        </form>
    </div>

{% endblock %}
{% block scripts %}
    <script src={% static 'src/index/img_containing.js' %}></script>
{% endblock %}
