<div class="container mt-3 ">
    {% for i in page_obj %}

        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ i.category }}</h6>
                <p class="card-text">{{ i.description }}</p>
                <form action="{% url 'delete-task' i.id %} ">
                    {% csrf_token %}
                    <input type="submit" value="Delete!">
                </form>
            </div>
        </div>

    {% endfor %}
</div>