<div class="d-flex mt-3">
    {% for category, tasks in tasks.items %}
        <div>
            {% if tasks %}
                {{ category }}
            {% endif %}
            {% for task in tasks %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ task.created_at }}</h6>
                        <p class="card-text">{{ task.description }}</p>

                        <form action="{% url 'delete-task' task.id %} ">
                            {% csrf_token %}
                            <button type="submit">Delete!</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


